* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* colors */
  --primery: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  /* text */
  --paragraph: 16px;
  /* font */
  --Family: [Roboto](https://fonts.google.com/specimen/Roboto);
  --bold: 700;
  --midle: 400;
}
body {
  font-family: var(--Family);
  background-color: var(--Dark-Slate-Grey);
  font-style: normal;
}

.modal-container {
  background-color: var(--White);
  padding: 24px;
  width: 928px;
  max-height: 100%;
  position: absolute;
  border-radius: 36px;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
}

.sing-up-form {
  display: flex;
  flex-direction: row-reverse;
}
.form {
  padding: 50px 40px;
}
.form-img img {
  border-radius: 16px;
}
.form-title {
  text-align: left;
  font-family: var(--Family);
  color: var(--Dark-Slate-Grey);
  font-size: 56px;
  font-weight: var(--bold);
  margin-bottom: 24px;
}
.form-description {
  text-align: left;
  font-weight: var(--midle);
  font-size: var(--paragraph);
  margin-bottom: 24px;
}
.description-items {
  text-align: left;
  margin-bottom: 80px;
}
.description-title {
  display: flex;
  align-items: center;
  list-style: none;
}
.description-title img {
  margin-right: 16px;
}

.description-title:not(:last-child) {
  margin-bottom: 10px;
}

.input-group {
  position: relative;
}
.input-group_input {
  width: 100%;
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  outline: 2px solid var(--Dark-Slate-Grey);
  background-color: var(--White);
  transition: outline-color 500ms;
}
.input-group_input:is(:focus, :valid) {
  outline-color: var(--Dark-Slate-Grey);
}

.input-group_lable {
  font-size: 16px;
  position: absolute;
  top: 4px;
  left: 10px;
  translate: 10px 10px;
  color: var(--Dark-Slate-Grey);
  transition: translate 500ms, scale 500ms;
}
.input-group_input:focus + .input-group_lable,
.input-group_input:valid + .input-group_lable {
  padding-inline: 5px;
  translate: 15px -19px;
  scale: 0.8;
  background-color: var(--White);
}

.submit-btn {
  font-family: Roboto;
  font-size: 16px;
  border: none;
  margin: 32px 0 0 0;
  height: 56px;
  width: 100%;
  color: var(--White);
  background-color: #242742;
  border-radius: 8px;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: tomato;
  box-shadow: 0 4px 6px rgba(255, 99, 71, 0.3),
    0 10px 15px rgba(255, 99, 71, 0.3), 0 20px 40px rgba(255, 99, 71, 0.3),
    0 30px 60px rgba(255, 99, 71, 0.3);
}

/* succes modal */

.success-message-modal-container {
  background-color: var(--White);
  padding: 48px 64px 64px 64px;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  border-radius: 36px;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
}
.success-message {
  width: 376px;
}
.success-message img {
  margin-bottom: 40px;
}
.success-message-title {
  text-align: left;
  font-family: var(--Family);
  color: var(--Dark-Slate-Grey);
  font-size: 56px;
  font-weight: var(--bold);
  text-align: left;
  margin-bottom: 28px;
}
.success-message-description {
  font-size: 16px;
  font-weight: var(--midle);
  text-align: left;
  margin-bottom: 40px;
}
.user-email {
  font-size: 16px;
  font-weight: var(--midle);
}
.succes-message-btn {
  font-size: 16px;
  font-weight: var(--midle);
  font-family: Roboto;
  font-size: 16px;
  border: none;
  margin: 32px 0 0 0;
  height: 56px;
  width: 100%;
  color: var(--White);
  background-color: #242742;
  border-radius: 8px;
}

.succes-message-btn:hover,
.succes-message-btn:focus {
  background-color: tomato;
  box-shadow: 0 4px 6px rgba(255, 99, 71, 0.3),
    0 10px 15px rgba(255, 99, 71, 0.3), 0 20px 40px rgba(255, 99, 71, 0.3),
    0 30px 60px rgba(255, 99, 71, 0.3);
}
.attribution {
  position: absolute;
  bottom: 0;
  right: 50%;
  font-size: 11px;
  text-align: center;
}

.is-hiden {
  display: none;
}

.error-style {
  border: 2px solid red;
  background-color: #df7d7d53;
  outline: none;
}
.error-text {
  color: red;
}
